h1 {
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 500px;
    background-color: #e76e22;
    color: #5a0404;
    font-family:serif;
}body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.nav {
    width: 100%;
    height: 52px;
   background-color:#e76e22;
}
body {
     background-image:url(subjectbg.jpg_);
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}
.nav a{
    text-decoration: none;
    float: left;
    color: black;
    padding: 0px 35px;
    font-size: 35px;
}
.nav a:hover{
    background-color: white;
}
table{
font-family: ; 
color: yellow;
font-size: 30px; 
font-style: normal;
font-weight: bold;
text-align:; 
/*border: 2px solid navy;
background-color: grey;*/
}

h2 {
    font-size:50px;
    color:rgb(128, 108, 18);
    font-family:serif;
}
th {
    font-size:34px;
    color:#007074;
}
td{
    color:rgba(247, 183, 7, 0.97);
}