h1 {
    margin-top:0px;
    font-family:sans-serif;
    margin-bottom: 0px;
    background-color: floralwhite;
    font-size: 60px;
    padding-left: 200px;
    color: indianred;
}
ul{
    list-style: none;
    background-color:;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
    font-family: 
} 
button {
    font-size: 170%;
    background-color: indianred;
}
button:hover {
    cursor: pointer;
    background-color:lightpink;
}
body {
    background-image: url(subjectbg.jpg_);
}

p {
  font-size: 30px;
    padding-left: 10px;
    color: white;
}
p1{
    font-size: 40px;
     color:darksalmon;
 }
p2{
     font-size: 30px;
    padding-left: 10px;
    color: white;
}



h1 {
    margin-top:0px;
    font-family:sans-serif;
    margin-bottom: 0px;
    background-color: floralwhite;
    font-size: 60px;
    padding-left: 400px;
    color: indianred;
}
ul{
    list-style: none;
    background-color:;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 0px;
    font-family: 
} 
button {
    font-size: 170%;
    background-color: indianred;
}
button:hover {
    cursor: pointer;
    background-color:lightpink;
}
body {
    background-image: url(subjectbg.jpg_);
}

a {
  font-size:30px;
    padding-left: 0px;
    color: white;
}
p1{
    font-size: 40px;
     color:salmon;
 }
p2{
     font-size: 30px;
    padding-left: 10px;
    color: white;
}